@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@layer components {
  .section__container {
    @apply flex flex-col lg:flex-row bg-black justify-between items-center py-16 px-24 lt-xs:px-8 lt-sm:px-8 lt-md:px-16 
  }

  .p__opensans {
    @apply text-white font-alt my-8 font-normal tracking-wider leading-7 text-[16px] lt-sm:text-[12px] 3xl:text-[30px] 3xl:leading-[50px] 
  }

  .custom__button {
    @apply w-fit bg-crimson font-base font-bold tracking-wider leading-7 text-base py-2 px-6 rounded-[1px] border-none outline-none cursor-pointer 3xl:text-[37px] 3xl:leading-[67px]
  }

  .gericht__bg {
    @apply bg-cover bg-repeat bg-fixed bg-[left_calc(50%)_top_calc(50%)]
  }

  .flex__center {
    @apply flex justify-center items-center
  }

  .headtext__cormorant {
    @apply font-base text-golden text-[64px] leading-[83px] tracking-wider capitalize lt-xs:text-[45px] lt-xs:leading-[70px] font-bold
  }

  .p__cormorant {
    @apply font-base font-bold text-[23px] text-white 3xl:text-[37px] 3xl:leading-[67px] leading-7 capitalize
  }

  .menu__heading {
    @apply font-base font-semibold text-[45px] leading-[58px] tracking-wider text-white
  }
}